html, body, #map{
	background: linear-gradient(0deg, #09203f 0%, #537895 100%);

	background-color: rgba(255, 255,255, 1);
	width:100%;
	height:100%;
	padding: 0;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#textDRoit{
	position: absolute;
	top: 80px;
	left: 15px;
	width: 400px;
}
#p1{
	position: absolute;
    width: 407px;
    height: 71px;
    left: 20px;
    top: 30px;
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
#p2{
	position: absolute;
	width: 481px;
	height: 95px;
	left: 20px;
	top: 70px;
	font-family: 'Inder';
	font-style: normal;
	font-weight: 400;
	font-size: 96px;
	line-height: 120px;
	display: flex;
	align-items: center;
	color: #8FD3F3;

}
#p3{
    position: absolute;
    width: 481px;
    height: 95px;
    left: 20px;
    top: 150px;
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 120px;
    display: flex;
    align-items: center;
    color: #8FD3F3;
}
#p4{
	position: absolute;
	width: 1000px;
	height: 226px;
	left: 20px;
	top: 330px;
	font-family: 'Inder';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 40px;
	color: #FFFFFF;
}
#rect1{
	position: absolute;
    width: 559px;
    height: 2px;
    left: 20px;
    top: 350px;
    background: #F6F1F1;
}
#chat-widget{

	position: absolute;
	top: 140px;
	left:75%;
    box-sizing: border-box;
    width: 419px;
    height: 553px;
    background: linear-gradient(210.87deg, rgba(91, 181, 219, 0.35) 1.24%, rgba(254, 214, 227, 0.35) 98.76%);
    border: 3px solid #F6F1F1;
    border-radius: 30px;

}
#chat-title{
	font-size: 24px;
	font: weight 300px;
	color: #F6F1F1;
	text-align: center;
	top: 100px;
}
#chat-container{
    /*display :flex;*/
    width: 419px;
    height: 520px;
    background: linear-gradient(210.87deg, rgba(91, 181, 219, 0) 1.24%, rgba(254, 214, 227, 0) 98.76%);
    border: 0px solid #f6f1f100;
    border-radius: 30px;
}

#chat-messages {
    overflow-y: auto;
	box-sizing: border-box;
    position: absolute;
    width: 390px;
    height:500px;
	left: 15px;
    top: 46px;
    background: rgba(175, 211, 226, 0);
    border: 0px solid #F6F1F1;
    border-radius: 0px;
    color: #F6F1F1;
  }
#chat-input-container{
	box-sizing: border-box;
    position: absolute;
    width: 419px;
    height: 41px;
	left: 0px;
    top: 560px;
    background: rgba(175, 211, 226, 0);
    border: 0px solid #f6f1f100;
    border-radius: 30px;

}

#chat-input{

    position: absolute;
    padding-left: 20px;
    width: 396px;
    height: 35px;
	left: -3px;
    top: -1px;
    background : rgba(175, 211, 226, 0.35);
    border: 2px solid #F6F1F1;
    border-radius: 30px;
	color: #fff;
	font-size: 18px;
	font-family: Trebuchet MS, sans-serif;


}

::placeholder {
  color: #c3c3c3; /* Change the color to your desired value */
}

#search{
	position: absolute;
    width: 632px;
    height: 41px;
    left: 600px;
    top: 22px;
    background: linear-gradient(270deg, rgba(175, 211, 226, 0.35) 0%, rgba(175, 211, 226, 0) 100%);
    border: 2px solid #F6F1F1;
    border-radius: 30px;
	color: #fff;
	font-size: 22px;
	font-family: Trebuchet MS, sans-serif;
}
.icon-magnifying-glass{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 1193px;
    top: 25px;
}
#chat-send-button{
	position: absolute;
	left: 360px;
	top: 0px;
	background-color: #1976d200;
    color: #ffffff00;
    border: 2px;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}
.imgsend{
	position: absolute;
	left: 370px;
	top: 4px;
	width: 30px;
	height: 30px;
}
::-webkit-scrollbar{
    position: absolute;
    background-color: #8FD3F3;
    background: linear-gradient(270deg, rgba(175, 211, 226, 0.35) 0%, rgba(175, 211, 226, 0) 100%);
    border: 2px solid #f6f1f10;
    border-radius: 30px;
	color: #fff;
	width: 15px;
	height: 20px;

}
::-webkit-scrollbar-thumb{
    background-color: #F6F1F1;
    border: 2px solid #F6F1F1;
    border-radius: 30px;
}

/* chatbot buttons customization */
#button_one_by_one,
#button_all_at_once,
#button_yes,
#button_no{
  display: inline-block;
  border-color: #ffffff;
  margin-left: 10px;
  padding: 4px 20px;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


#button_one_by_one,
#button_all_at_once,
#button_yes,
#button_no {
  background-color: #1976d2;
  color: #ffffff;
}
/*
.button2 {
  background-color: #f44336;
  color: #ffffff;
}*/

#button_one_by_one:hover,
#button_all_at_once:hover,
#button_yes:hover,
#button_no:hover{
  background-color: #00FF00;
}

#button_one_by_one:active,
#button_all_at_once:active,
#button_yes:active,
#button_no:active {
  background-color: #0d47a1;
}